.MembersSection {
  height: 400px;
  background-color: cadetblue;
}

.Title {
  margin-top: 0;
  padding-top: 10px;
}

.ProfileBarContainer {
  display: flex;
  align-items: center;
  padding: 10px 200px;
  height: 250px;
}
