.MembersSection {
  height: 23rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  z-index: 0;
}

.Title {
  margin-top: 0;
  padding-top: 10px;
}

.ProfileBarContainer {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 250px;
}

.GridItem {
  display: flex;
  justify-content: center;
}
